* {
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
    color: white;
    padding: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.quadrato {
    text-align: center;
    flex-wrap: wrap;
    color: black;
    padding: 35px 0;
    height: 100px;
    width: 100px;
    background-color: cyan;
    border: solid 1px;
    margin: 5px;
}

.bf_quadrato {
    text-align: center;
    flex-wrap: wrap;
    color: black;
    padding: 35px 0;
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid 1px;
    margin: 5px;
}

.f_quadrato {
    text-align: center;
    flex-wrap: wrap;
    color: black;
    padding: 35px 0;
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border: solid 1px;
    margin: 5px;
}

.b_quadrato {
    text-align: center;
    flex-wrap: wrap;
    color: black;
    padding: 35px 0;
    height: 100px;
    width: 100px;
    background-color: violet;
    border: solid 1px;
    margin: 5px;
}